//FUENTES
$font-principal: 'Abril Fatface', sans-serif;
$font-secundaria: 'Roboto', sans-serif;
$font-poppins: 'Poppins', sans-serif;


//PADDING PARA SINGLE.PHP
$padding-desk: 0px 220px 0px 220px;
$padding-table: 0px 30px 0px 30px;
$padding-mobile: 0px 10px 0px 10px;

//padding-desk-index
$padding-desk-index: 0px 100px 0px 100px;
$padding-tablet-index: 0px 30px 0px 30px;
$padding-mobile-index: 0px 10px 0px 10px;

//COLORES
$color-negro-1: #3A3434;
$color-negro-2: #1E1E1E;
$color-negro-3: #222222;
$color-gris: #666666;


